<h1>About Page</h1>
 <div class="row">
    <div class="col-sm">
      <h2>Details About My Data Source.</h2>
      <p>I grew up playing Yu-Gi-Oh and watching the anime as a kid and played for fun in 2002-2004. It was not till
      2010 when I picked up the game again and really got into it learning the rules, keeping up with the meta, and
      learning what all the cards did. I was fortunate enough to find this very well put together dats source so I opted
      to use it for my midterm project to build my first Ruby on Rails application.</p>

      <p>This dataset is came as a json api which I then store locally and created a relational database around. It lists out 10,000
      plus cards with their name, type, stats, price from multiple sellers, which sets they were released in and so much more.
      This dataset was put together by a team of developers at YGOPRODeck who who have their own site and app as well so please support them
      by checking out their links below!</p>

      <h3>YGOPRODeck Contacts:</h3>
        <div><a href="https://db.ygoprodeck.com/">Website</a></div>
        <div><a href="https://twitter.com/YGOPRODeck">Twitter</a></div>
        <div><a href="https://discord.com/invite/AZwvGpa">Discord</a></div>
        <div><a href="https://github.com/AlanOC91/YGOPRODeck/issues">GitHub</a></div>
        <div><a href="https://db.ygoprodeck.com/api/v7/cardinfo.php">Yu-Gi-Oh! API</a></div>
        <div><a href="https://db.ygoprodeck.com/api-guide/">Yu-Gi-Oh! API Guide</a></div>


    </div>
  </div>